@page "/scripts"
@inherits ScriptsComponent

@using C1.Blazor.Grid

<FlexGrid ItemsSource="ScriptGrid.Items"
          AutoGenerateColumns="false" DefaultColumnWidth="GridLength.Star"
          ColumnHeaderStyle="@("font-weight:bold")"
          SelectionMode="GridSelectionMode.Row"
          CellTapped="ScriptGrid.OnCellTaped"
          CellDoubleTapped="ScriptGrid.OnCellDoubleTaped"
          CellFactory="@GridCellFactory"
          
>
    <FlexGridColumns>
        <GridColumn Binding="Checked" Header="Sel" IsReadOnly="true" Width="50"/>
        <GridColumn Binding="Name" IsReadOnly="true"/>
        <GridColumn Binding="File" IsReadOnly="true"/>
        <GridColumn Binding="Count" IsReadOnly="true"/>
        <GridColumn Binding="Load" IsReadOnly="true">
            <CellTemplate>
                <span class="@context" data-toggle="tooltip" title="Edit script"></span>
            </CellTemplate>
        </GridColumn>
        <GridColumn Binding="Run" IsReadOnly="true">
            <CellTemplate>
                <span class="@context" data-toggle="tooltip" title="Run script"></span>
            </CellTemplate>
        </GridColumn>
    </FlexGridColumns>
</FlexGrid>
