@page "/fetchdata"
@using C1.Blazor.Grid
@using C1.DataCollection
@using nats_ui.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <FlexGrid ItemsSource="forecasts" 
              AutoGenerateColumns="false" DefaultColumnWidth="GridLength.Star" 
              ColumnHeaderStyle="@("font-weight:bold")">  
        <FlexGridColumns>  
            <GridColumn Binding="Date" Format="d"/>  
            <GridColumn Binding="TemperatureC" Header="Temp. (C)" />  
            <GridColumn Binding="TemperatureF" Header="Temp. (F)" />  
            <GridColumn Binding="Summary" />  
        </FlexGridColumns>  
    </FlexGrid>}

@code {
    private C1DataCollection<WeatherForecast> forecasts;

    protected override async Task OnInitializedAsync()
    {
        WeatherForecast[] data = await ForecastService.GetForecastAsync(DateTime.Now);
        forecasts = new C1DataCollection<WeatherForecast>(new List<WeatherForecast>(data));
    }

    private async Task IncrementCount()
    {
        await forecasts.InsertAsync(0, new WeatherForecast
        {
            Summary = "Yo !"
        });
    }

}

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

