@page "/nats"
@inherits NatsConnectionComponent
@using C1.Blazor.Grid

<h1>Nats</h1>

<EditForm Model="@NatsConnection" OnSubmit="@CreateConnection">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="NatsConnection.Name" />
    <InputText id="host" @bind-Value="NatsConnection.Host" />
    <InputNumber id="port" @bind-Value="NatsConnection.Port" />

    <button type="submit">Create</button>
</EditForm>

<FlexGrid ItemsSource="connections" 
          AutoGenerateColumns="false" DefaultColumnWidth="GridLength.Star" 
          ColumnHeaderStyle="@("font-weight:bold")">  
    <FlexGridColumns>  
        <GridColumn Binding="Selected"  Header="Sel" />  
        <GridColumn Binding="Name"/>  
        <GridColumn Binding="Host"/>  
        <GridColumn Binding="Summary" />  
    </FlexGridColumns>  
</FlexGrid>