<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">nats-ui</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sessions">
                <span class="oi oi-document" aria-hidden="true"></span> Sessions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="connections">
                <span class="oi oi-bolt" aria-hidden="true"></span> Connections
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="subscriptions">
                <span class="oi oi-pulse" aria-hidden="true"></span> Subscriptions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="messages">
                <span class="oi oi-data-transfer-download" aria-hidden="true"></span> Messages
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="inspector">
                <span class="oi oi-zoom-in" aria-hidden="true"></span> Inspector
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="send">
                <span class="oi oi-data-transfer-upload"></span> Send
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="editor">
                <span class="oi oi-script"></span> Editor
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="scripts">
                <span class="oi oi-file"></span> Scripts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="executor">
                <span class="oi oi-media-play"></span> Executor
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
