@page "/inspector" 
@inherits InspectorComponent

<div class="overflow-auto">@Data</div>
<hr/>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headRegEx" >
      <div class="mb-0" data-toggle="collapse" data-target="#colRegEx"><i class="fa fa-plus"></i>RegEx</div>
    </div>
    <div id="colRegEx" class="collapse" data-parent="#accordion">
      <div class="card card-body">
        RegEx
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headJson">
      <div data-toggle="collapse" data-target="#colJson"><i class="fa fa-plus"></i>Json</div>
    </div>
    <div id="colJson" class="collapse" data-parent="#accordion">
      <div class="card card-body">
        JSon
      </div>
    </div>
  </div>
</div>
